@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    background-image: url(../imagens/backgroundLogin.jpg);
}
.user-no-selection {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    display: flex;
    height: 100%;
    width: 30%;
    background-color: #fff;
}

.container .form-login {
    display: flex;
    width: 65%;
    flex-direction: column;
    margin: auto;

}

.container .form-login .title {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}

.container .subtitle {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 300;
}

.form-login .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-radius: 6px;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: #feef4c ;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
}

.input-field input:is(:focus, :valid) ~ i {
    color: #feef4c ;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form-login .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px -2px 4px;
}

.form-login .text {
    color: #333;
    font-size: 14px;
}

.form-login .button {
    margin-top: 35px;
}

.form-login .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1.5px;
    border-radius: 6px;
    background-color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #000000db;
}

#sherifftext{
    background-image:
    linear-gradient(
        transparent 0%,
        transparent 90%,
        #f9ca24 90%,
        #f9ca24 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
}
#sherifftext:hover{
    background-size: 100% 100%;
    background-position-x: left;
}

@media screen and (max-width: 768px) {

    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../imagens/backgroundLogin.jpg);
    }
    .user-no-selection {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .container {
        position: relative;
        max-width: 350px;
        max-height: 450px;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    .container .form-login {
        padding: 30px;
        width: 100%;

    }

    .container .form-login .title {
        position: relative;
        font-size: 27px;
        font-weight: 600;
    }

    .animated-text {
        display: none;
    }
}