/*CSS DO PAINEL DE CONTROLE*/
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
	box-sizing: border-box;
}
html, body{
    height: 100%;
    background: #bdc3c7;
}
body{
    overflow-x: hidden;
}
/*classes globais*/
.clear{clear: both;}
.center{padding: 0 2%; margin: 0 auto;}

/*Style do Menu e Header*/
header{
    position: relative;
    left: 250px;
    padding: 10px 0;
    background-color: #2d3436;
    width: calc(100% - 250px);
}
.logout{
    float: right;
}
.logout a{
    text-decoration: none;
    padding: 0 20px;
    color: #f1c40f;
    font-size: 20px;
}
.menu-btn{
    float: left;
    font-size: 22px;
    color:#f1c40f;
    cursor: pointer;
}
.menu-wraper{
    width: 250px;
}
div.menu{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background: #636e72;
    float: left;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 0;
}
div.box-usuario{
    text-align: center;
    padding: 8px;
}
.avatar-usuario{
    text-align: left;
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #2d3436;
}
.avatar-usuario i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: 50px;
    color: #2d3436;
}
.imagem-usuario{
    display: inline-block;
    width: 130px;
    height: 130px;
    position: relative;
    border: 3px solid #2d3436;
    border-radius: 50%;
}
.imagem-usuario img{
    position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.nome-usuario{
    text-align: center;
    margin-top: 10px;
}
.nome-usuario p{
    color: #bdc3c7;
    font-size: 18px;
    font-weight: normal;
}
/*FIM STYLE MENU E HEADER*/

/*CONTEUDO DO PAINEL*/
.w100{
    width: 100%;
}
.w50{
    width: 48%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.content{
    width: calc(100% - 250px);
    position: relative;
    left: 250px;
    padding: 2%;
}
.box-content{
	background: white;
	padding: 30px;
	margin-bottom: 25px;
    border-radius: 15px;
}

.box-content h2{
	font-weight: bold;
	font-size: 23px;
}
.box-content a{
	color:black;
}
.items-menu{
    margin-top: 30px;
}
.items-menu h2{
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    background: #2d3436;
    color: #f1c40f;
    padding: 8px;
    font-style: oblique;
}
.items-menu a{
    display: block;
    padding: 8px;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 2px solid rgb(102, 101, 101);
    font-weight: bold;
}
.items-menu i{
    font-size: 20px;
}

.box-metricas{
	margin-top:16px;
	padding:0 15px;
}

.box-metrica-single{
	float: left;
	position: relative;
	width: 30%;
	background: #F4B03E;
	border: 5px solid white;
    border-radius: 15px;
}

.box-metricas .box-metrica-single:nth-of-type(2){
	background: #E05C4E;
}

.box-metricas .box-metrica-single:nth-of-type(3){
	background: #0091ea;
}

.box-metrica-wraper{
	padding: 10px 20px;
	text-align: left;
	color: white;
    border-radius: 3px;
}

.box-metrica-wraper h2{
	font-size: 28px;
}

.box-metrica-wraper p{
	padding: 10px 0;
	font-size: 26px;
}

/*Alertas úteis!*/

.box-alert{
    width: 100%;
    padding: 8px 0;
    text-align: center;
    border-radius: 12px;
}
.sucesso{
    background: #6ab04c;
    color: white;
    font-weight: bold;
}
.erro{
    background: #eb4d4b;
    color: white;
    font-weight: bold;
}

/*MEDIAS*/

@media screen and (max-width: 768px){
    .menu{
        display: none;
    }
    .content{
        width: 100%; 
        left: 0;
    }
    header{
        left: 0; 
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .menu-wraper{
        width: 200px;
    }
}