/*CSS DO PAINEL DE CONTROLE*/
*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    background: #dfe6e9;
}
/*classes globais*/
.clear{clear: both;}
.center{padding: 0 2%; margin: 0 auto;}

.menu{
    overflow-y: auto;
    height: 100%;
    background: #636e72;
    float: left;
    width: 300px;
}

header{
    float: left;
    padding: 15px 0;
    background-color: #2d3436;
    width: calc(100% - 300px);
}
.logout{
    float: right;
}
.logout a{
    color: #f1c40f;
    font-size: 22px;
}
.menu-btn{
    float: left;
    font-size: 22px;
    color:#f1c40f;
    cursor: pointer;
}