/*CSS DO PAINEL DE CONTROLE*/
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}
html, body{
    height: 100%;
    background: #bdc3c7;
}
/*classes globais*/
.clear{clear: both;}
.center{padding: 0 2%; margin: 0 auto;}

/*Style do Menu e Header*/
header{
    position: relative;
    left: 300px;
    padding: 15px 0;
    background-color: #2d3436;
    width: calc(100% - 300px);
}
.logout{
    float: right;
}
.logout a{
    color: #f1c40f;
    font-size: 22px;
}
.menu-btn{
    float: left;
    font-size: 22px;
    color:#f1c40f;
    cursor: pointer;
}
.menu-wraper{
    width: 300px;
}
div.menu{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background: #636e72;
    float: left;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
}
div.box-usuario{
    text-align: center;
    padding: 10px;
}
.avatar-usuario{
    text-align: left;
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #2d3436;
}
.avatar-usuario i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: 50px;
    color: #2d3436;
}
.nome-usuario{
    text-align: center;
    margin-top: 10px;
}
.nome-usuario p{
    color: #bdc3c7;
    font-size: 18px;
    font-weight: normal;
}
/*FIM STYLE MENU E HEADER*/

/*CONTEUDO DO PAINEL*/
.w100{
    width: 100%;
}
.w50{
    width: 48%;
}
.left{
    float: left;
}
right{
    float: right;
}
.content{
    width: calc(100% - 300px);
    position: relative;
    left: 300px;
    padding: 10px;
}
.box-content{
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    
}

/*MEDIAS*/

@media screen and (max-width: 768px){
    .menu{display: none;}
    .content{width: 100%; left: 0;}
    header{left: 0; width: 100%;}
}